.headerContainer {
    height: 5rem;
    border-bottom: 1px solid var(--gray-800);
}

.headerContent {
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    nav {
        margin-left: 5rem;
        height: 5rem;

        a {
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 5rem;
            line-height: 5rem;
            color: var(--gray-300);

            transition: color 0.2s;

            & + a {
                margin-left: 2rem;
            }

            &:hover {
                color: var(--white);
            }

            &.active {
                color: var(--white);
                font-weight: bold;
            }

            &.active::after {
                content: '';
                height: 3px;
                border-radius: 3px 3px 0 0;
                width: 100%;
                position: absolute;
                bottom: 1px;
                left: 0;
                background: var(--yellow-500);

            }
        }
    }
    button {
        margin-left: auto;
    }
}

@media (max-width: 575px){
    .headerContainer {
        height: 22rem;
    }
    .headerContent {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        img {
            margin: 2rem 0 3rem 0;
        }
        nav {
            height: 100%;
            width: 100%;
            margin: 0;
            a {
                display: block;
                flex-direction: column;
                margin: 0 0 0 0;
                padding: 0 0 0 2rem;


                & + a {
                    margin: 0 0 0 0;
                }
                &.active::before {
                    content: '';
                    height: 100%;
                    border-radius: 0 3px 3px 0;
                    width: 3px;
                    position: absolute;
                    left: -2rem;
                    background: var(--yellow-500);
                    
                }
                &.active::after {
                    display: none;
                }
            }
        }
        button {
            position: absolute;
            top: 1.5rem;
            right: 0.5rem;
            margin: 0 0 1rem auto;
        }
    }
}